@import url("https://use.typekit.net/gte0fkw.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "aesthet-nova", serif;
  }

  @font-face {
    font-family: "calfine";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("/fonts/CalfineDEMO.woff2") format("woff2"),
      url("/fonts/CalfineDEMO.woff") format("woff"),
      url("/fonts/Calfinedemo.otf") format("truetype");
  }
  @font-face {
    font-family: "druk";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("/fonts/DrukCond-Super.woff2") format("woff2"),
      url("/fonts/DrukCond-Super.woff") format("woff"),
      url("/fonts/DrukCond-Super-Trial.otf") format("truetype");
  }
}

.button-outline {
  box-shadow: 1px 3px 0px 0px var(--blue, #1c1b29);
}

.text-large-effect {
  filter: drop-shadow(4px 4px 0px #1c1b29);
}

.text-medium-effect {
  filter: drop-shadow(2px 2px 0px #1c1b29);
}

.text-small-effect {
  filter: drop-shadow(1px 1px 0px #1c1b29);
}

input::placeholder {
  color: #1c1b29;
}

/* Container pour cacher les éléments qui dépassent */
.overflow-hidden {
  overflow: hidden; /* Cache tout ce qui déborde */
  width: 100%; /* Adapte la largeur */
}

/* Slider avec animation */
.animate-slider {
  display: flex; /* Utilise Flexbox pour organiser les éléments horizontalement */
  animation: sliderAnim 8s linear infinite; /* Animation continue sur 8 secondes */
  gap: 14px; /* L'espace entre les éléments */
}

/* Animation du slider */
@keyframes sliderAnim {
  0% {
    transform: translateX(0); /* Commence au début */
  }
  100% {
    transform: translateX(-100%); /* Déplace tout le slider vers la gauche */
  }
}
