@import url("https://use.typekit.net/gte0fkw.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "aesthet-nova", serif;
  }

  @font-face {
    font-family: "calfine";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("/fonts/CalfineDEMO.woff2") format("woff2"),
      url("/fonts/CalfineDEMO.woff") format("woff"),
      url("/fonts/Calfinedemo.otf") format("truetype");
  }
  @font-face {
    font-family: "druk";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("/fonts/DrukCond-Super.woff2") format("woff2"),
      url("/fonts/DrukCond-Super.woff") format("woff"),
      url("/fonts/DrukCond-Super-Trial.otf") format("truetype");
  }
}

.button-outline {
  box-shadow: 1px 3px 0px 0px var(--blue, #1c1b29);
}

.text-large-effect {
  filter: drop-shadow(4px 4px 0px #1c1b29);
}

.text-medium-effect {
  filter: drop-shadow(2px 2px 0px #1c1b29);
}

.text-small-effect {
  filter: drop-shadow(1px 1px 0px #1c1b29);
}

input::placeholder,
textarea::placeholder {
  color: #1c1b29;
}

.arrow:before {
  content: url("/img/svg/arrow.svg");
  position: absolute;
  top: -75px;
  left: -130px;
}

.handwrite:after {
  content: url("/img/png/handwrite.png");
  height: 137px;
  width: 206px;
  position: absolute;
  right: -235px;
  top: 114px;
}

.handshow:before {
  content: url("/img/png/handShow.png");
  height: 195px;
  width: 130px;
  position: absolute;
  left: -120px;
  top: 130px;
  animation: handshowAnim 1000ms infinite ease-in-out alternate;
}

@keyframes handshowAnim {
  0% {
    transform: translate(-100px, 100px);
  }
  100% {
    transform: translate(0, 0);
  }
}

.handshow:after {
  content: url("/img/png/postcard.png");
  height: 132px;
  width: 132px;
  position: absolute;
  right: -170px;
  top: 131px;
}

@media (max-width: 768px) {
  .handshow:before,
  .handshow:after,
  .handwrite:after,
  .arrow:before {
    display: none;
  }
}

.line {
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='white' stroke-width='4' stroke-dasharray='6%2c 15' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
  background-size: cover;
  background-repeat: no-repeat;
}

.container {
  max-width: calc(100% - 4.167vw);
}

.skills-container {
  max-width: 1352px;
}

.sidebar {
  max-width: calc(100% - 22px);
}

.link {
  height: 30px;
  align-items: center;
  text-decoration: none;
  display: flex;
}

/* Hide extra text */
.mask {
  position: relative;
  padding: 0;
  height: 20px;

  /*  Remove overflow to see how it works　:) */
  overflow: hidden;
}

.link-container {
  transition: transform 0.4s ease;
}

.title {
  display: block;

  transition: transform 0.4s ease;
}

.link-title1 {
  transform-origin: right center;
}

.link-title2 {
  transform-origin: left center;
  transform: rotate(20deg);
}

/* Move up two texts (20px = font-size) */
.link:hover .link-container {
  transform: translateY(-20px);
}

/* Rotate texts a little bit */
.link:hover .link-title1 {
  transform: rotate(20deg);
}

.link:hover .link-title2 {
  transform: rotate(0);
}

.text-animation .letter {
  display: inline-block;
  transform-origin: center bottom;
  opacity: 0;
}

.seemore {
  animation: seemoreAnim 1000ms infinite ease-in-out alternate;
}


@keyframes seemoreAnim {
  0% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(0px);
  }
}

.sidebarAnim {
  background-image: url(/img/png/bg.png);
  background-repeat: no-repeat;
  background-size: cover;
}
 

select {
  background: transparent;
  font-size: 18px;
  outline: none;
  border: none;
  text-indent: 1px;
  text-overflow: '';
}